@model Website_BanHang.Models.OrderDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orders.OrderCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
